#s-ae121b77-8417-4678-9f4d-dda1abf63261 > #backgroundBox {
  background-color: #779A3B;
  position: absolute;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 > #backgroundBox > .imageLayer {
  background-repeat: repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: auto;
  opacity: 0.5;
  background-image: url('../../../images/719091d4-11d0-4dff-beca-b27885ab54b7.jpg');
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 > #alignmentBox {
  position: relative;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_9 {
  position: absolute;
  width: 1629.0000000000005px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #9BC84E;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Table_4 {
  position: absolute;
  width: 509.0489195899836px;
  height: 52.35714285714312px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_155 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_155 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_155 .verticalalign {
  vertical-align: middle;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_155 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_155 {
  width: 33.464367263014594%;
  height: 99.99999999999962%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_155 .Cell_155 > * {
  margin-right: 30px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_155 .Cell_155 > *:last-child {
  margin-right: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_155 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_60 {
  width: 97.1630859375px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Calibri_6.23.0_system',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_60 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_60 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_60 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Calibri_6.23.0_system',Arial;
  font-size: 15.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_60 span#rtr-s-Paragraph_60_0 {
  color: #333333;
  text-decoration: underline;
  font-family: 'Calibri_6.23.0_system',Arial;
  font-size: 15.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Path_60 {
  width: 10.789544884523497px;
  height: 21.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_156 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_156 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_156 .verticalalign {
  vertical-align: middle;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_156 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_156 {
  width: 35.42881500372575%;
  height: 99.99999999999962%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_156 .Cell_156 > * {
  margin-right: 22px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_156 .Cell_156 > *:last-child {
  margin-right: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_156 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_87 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Calibri_6.23.0_system',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_87 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_87 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_87 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Calibri_6.23.0_system',Arial;
  font-size: 15.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_87 span#rtr-s-Paragraph_87_0 {
  color: #333333;
  text-decoration: underline;
  font-family: 'Calibri_6.23.0_system',Arial;
  font-size: 15.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Path_64 {
  width: 10.789544884523497px;
  height: 21.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_157 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_157 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_157 .verticalalign {
  vertical-align: middle;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_157 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_157 {
  width: 31.106817733259597%;
  height: 99.99999999999962%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_157 .Cell_157 > * {
  margin-right: 46px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_157 .Cell_157 > *:last-child {
  margin-right: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_157 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_88 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Calibri_6.23.0_system',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_88 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_88 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_88 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Calibri_6.23.0_system',Arial;
  font-size: 15.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_88 span#rtr-s-Paragraph_88_0 {
  color: #333333;
  text-decoration: underline;
  font-family: 'Calibri_6.23.0_system',Arial;
  font-size: 15.0pt;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_27 {
  position: absolute;
  width: 155.78906250000136px;
  min-height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arizonia_21.0.0_google',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_27 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_27 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 48px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 48px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Path_20 {
  position: absolute;
  width: 34.99999999999983px;
  height: 34.78808552026749px;
  cursor: pointer;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Path_21 {
  position: absolute;
  width: 14.970703124999886px;
  height: 28.164062076249138px;
  cursor: pointer;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Path_41 {
  position: absolute;
  width: 35.0px;
  height: 28.43749976367689px;
  cursor: pointer;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Path_17 {
  position: absolute;
  width: 34.99999680062376px;
  height: 34.993051866757924px;
  cursor: pointer;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Path_19 {
  position: absolute;
  width: 17.97221966364316px;
  height: 17.972219663643045px;
  cursor: pointer;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Circle_5 {
  position: absolute;
  width: 4.194486085073777px;
  height: 4.213244256297017px;
  cursor: pointer;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_3 {
  position: absolute;
  width: 335.0px;
  min-height: 500.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #CDAF58;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Content_grid_1 {
  position: absolute;
  width: 306.28133354187025px;
  height: 467.53246753246765px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Content_grid_1 > .backgroundLayer > .colorLayer {
  background-color: #FDEEC3;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Content_grid_1 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_7 {
  width: 99.99999999999989%;
  height: 16.666666666666664%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_7 .Cell_7 > *:first-child {
  margin-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_7 .Cell_7 > *:last-child {
  margin-right: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_7 .Cell_7 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_7 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_1 {
  width: 186.01220703125px;
  min-height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Concert One_22.0.0_google',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_1 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_8 {
  width: 99.99999999999989%;
  height: 16.666666666666664%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_8 .Cell_8 > *:first-child {
  margin-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_8 .Cell_8 > *:last-child {
  margin-right: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_8 .Cell_8 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_8 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_2 {
  width: 189.181640625px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_2 span {
  color: #0000FF;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #0000FF;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_9 {
  width: 99.99999999999989%;
  height: 16.666666666666664%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_9 .Cell_9 > *:first-child {
  margin-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_9 .Cell_9 > *:last-child {
  margin-right: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_9 .Cell_9 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_9 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_3 {
  width: 189.181640625px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_3 span {
  color: #0000FF;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #0000FF;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_10 {
  width: 99.99999999999989%;
  height: 16.666666666666664%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_10 .Cell_10 > *:first-child {
  margin-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_10 .Cell_10 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_4 {
  width: 238.18164062500045px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_4 span {
  color: #0000FF;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #0000FF;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_11 .verticalalign {
  vertical-align: middle;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_11 {
  width: 99.99999999999989%;
  height: 16.666666666666664%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_11 .Cell_11 > *:first-child {
  margin-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_11 .Cell_11 > *:last-child {
  margin-right: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_11 .Cell_11 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_11 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_5 {
  width: 251.1816406250009px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_5 span {
  color: #0000FF;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #0000FF;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_12 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_12 .verticalalign {
  vertical-align: middle;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_12 {
  width: 99.99999999999989%;
  height: 16.666666666666668%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_12 .Cell_12 > *:first-child {
  margin-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_12 .Cell_12 > *:last-child {
  margin-right: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_12 .Cell_12 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Cell_12 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_12 {
  width: 251.18164062500068px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_12 span {
  color: #0000FF;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #0000FF;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_2 {
  position: absolute;
  width: 1211.0000000000002px;
  min-height: 156.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #A9DD51;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_1 {
  position: absolute;
  width: 1157.0px;
  min-height: 120.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #9BC84E;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Concert One_22.0.0_google',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_4 {
  position: absolute;
  width: 1366.0px;
  min-height: 500.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F4FF91;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_4 {
  position: absolute;
  width: 551.0000000000003px;
  min-height: 364.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_2 {
  position: absolute;
  width: 409.0000000000001px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Concert One_22.0.0_google',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Image {
  position: absolute;
  width: 743.120849609375px;
  height: 500.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_8 {
  position: absolute;
  width: 1770.6406250000011px;
  min-height: 596.2560021974941px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #F4FF91;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_14 {
  position: absolute;
  width: 773.9634351157871px;
  min-height: 221.07855805587178px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 39px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 39px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Concert One_22.0.0_google',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_15 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_15 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Image_4 {
  position: absolute;
  width: 669.5999999999993px;
  height: 418.49999999999864px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_7 {
  position: absolute;
  width: 1770.640625000001px;
  min-height: 779.2559995626398px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #9BC84E;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_11 {
  position: absolute;
  width: 773.9634351157874px;
  min-height: 608.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 32px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 32px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Concert One_22.0.0_google',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_13 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_13 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Image_3 {
  position: absolute;
  width: 838.4999999999997px;
  height: 559.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_5 {
  position: absolute;
  width: 1770.640625000001px;
  min-height: 667.2559995626395px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F4FF91;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_7 {
  position: absolute;
  width: 773.9634351157874px;
  min-height: 392.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 37px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 37px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Concert One_22.0.0_google',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Image_1 {
  position: absolute;
  width: 744.7999999999993px;
  height: 465.4999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_6 {
  position: absolute;
  width: 1770.640625000001px;
  min-height: 667.2559995626395px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #9BC84E;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_9 {
  position: absolute;
  width: 773.9634351157874px;
  min-height: 458.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 37px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 37px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Concert One_22.0.0_google',Arial;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Concert One_22.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 #s-Image_2 {
  position: absolute;
  width: 792.7999999999994px;
  height: 495.49999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ae121b77-8417-4678-9f4d-dda1abf63261 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}